<div class="logo">
    <div>
        <a href="<%=url+'demo1.html'%>" class="navigator-logo">
            <img src="<%=url + 'dist/src/demo1/src/logo_black.jpg'%>" alt="logo">
        </a>
    </div>
    <div class="h3">
        Chase Dream With You, Together!
    </div>
    <div class="link-language">
        <a href="javascript:;" class="hidden-en link-en">English</a>
        <a href="javascript:;" class="hidden-ch link-ch">中文</a>
    </div>
</div>
<div class="navigator">
    <a href="<%=url+'demo1-1.html'%>">
        <div class="hidden-ch">WHY NZ</div>
        <div class="hidden-en">选择新西兰</div>
    </a>
    <a href="<%=url+'demo1-2.html'%>">
        <div class="hidden-ch">STUDY TOUR </div>
        <div class="hidden-en">游学新西兰</div>
    </a>
    <a href="<%=url+'demo1-3.html'%>">
        <div class="hidden-ch">STUDY OPTION </div>
        <div class="hidden-en">留学新西兰</div>
    </a>
    <a href="<%=url+'demo1-4.html'%>">
        <div class="hidden-ch">LIVING IN NZ </div>
        <div class="hidden-en">探索新西兰</div>
    </a>
    <a href="<%=url+'demo1-5.html'%>">
        <div class="hidden-ch">CONTACT US </div>
        <div class="hidden-en">联系我们</div>
    </a>
    <div class="navigator-list">
        <ul>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-1.html'%>">Student Stories</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-1-1.html'%>">学生故事</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-2.html'%>">Dunedin in NZ</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-1-2.html'%>">新西兰之达尼丁</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-3.html'%>">QLiving in NZ</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-1-3.html'%>">生活在新西兰</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-4.html'%>">Education System</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-1-4.html'%>">新西兰教育体系</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-5.html'%>">Information for Parents</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-1-5.html'%>">父母指南</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-7.html'%>">Quality and Standards</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-7.html'%>">教育质量与标准</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-7.html'%>">Work Ready</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-1-7.html'%>">事业规划</a></li>
        </ul>
        <ul>
            <li class="hidden-ch"><a href="<%=url+'demo1-2-1.html'%>">What is Study Tour</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-2-1.html'%>">学生故事</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-2-2.html'%>">Why to Have A Study Tour</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-2-2.html'%>">为什么选择游学</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-2-3.html'%>">Study Tour</a></li>
        </ul>
        <ul>
            <li class="hidden-ch"><a href="<%=url+'demo1-3-1.html'%>">Schools</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-3-1.html'%>">新西兰初高中</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-3-2.html'%>">Study Trusteeship</a></li>
            <li class="hidden-en"><a href="<%=url+'demo1-3-2.html'%>">留学托管</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-3-3.html'%>">Universities</a></li>
            <li class="hidden-ch"><a href="<%=url+'demo1-3-3.html'%>">新西兰大学</a></li>
        </ul>
    </div>
</div>