<div class="logo">
    <div>
        <a href="<%=url+'demo1.html'%>" class="navigator-logo">
            <img src="<%=url + 'dist/src/demo1/src/logo_black.jpg'%>" alt="logo">
        </a>
    </div>
    <div class="h3">
        Chase Dream With You, Together!
    </div>
    <div class="link-language">
        <a href="javascript:;" class="hidden-en link-en">English</a>
        <a href="javascript:;" class="hidden-ch link-ch">中文</a>
    </div>
</div>
<div class="navigator">
    <a href="<%=url+'demo1-1.html'%>">
        <div class="hidden-ch">WHY NZ</div>
        <div class="hidden-en">选择新西兰</div>
    </a>
    <a href="<%=url+'demo1-2.html'%>">
        <div class="hidden-ch">STUDY TOUR </div>
        <div class="hidden-en">游学新西兰</div>
    </a>
    <a href="<%=url+'demo1-3.html'%>">
        <div class="hidden-ch">STUDY OPTION </div>
        <div class="hidden-en">留学新西兰</div>
    </a>
    <a href="<%=url+'demo1-4.html'%>">
        <div class="hidden-ch">LIVING IN NZ </div>
        <div class="hidden-en">探索新西兰</div>
    </a>
    <a href="<%=url+'demo1-5.html'%>">
        <div class="hidden-ch">CONTACT US </div>
        <div class="hidden-en">联系我们</div>
    </a>
</div>
