<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#mapPanel">
        <%= __('map') %>
            <span class="subtitle"> <%= __('new map style') %></span>
    </a>
    <div id="mapPanel" style="display:none;">
        <h3><%= __('Dynamic Map')%></h3>
        <div data-gmap data-lat="37.819929" data-lng="-122.478255" data-onload="initialMap" data-inline="false" class="mapdemo"> </div>
        <h3><%= __('Static Map')%></h3>
        <div data-gsmap data-type="terrain" data-lat="37.819929" data-lng="-122.478255" class="mapdemo"> </div>
        <h3><%= __('Static Street Map')%></h3>
        <div data-gsmap data-type="streetview" data-lat="37.819929" data-lng="-122.478255" class="mapdemo"> </div>
    </div>
</div>
