<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-map') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-dialog') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-collapse') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-tabs') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-gridtable') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-rangeslider') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-shifter') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-slicker') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-datatable') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-touch') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-measurement') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-imgzoom') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-loadimage') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-sticky') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-gridview') %>
    </div>
</div>
