<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#typographPanel">
        <%= __('typograph') %>
        <span class="subtitle"> <%= __('the basic typograph') %></span>
    </a>
    <div id="typographPanel">
        <p><%- __('The default web font-size is 16px, we consider <b>16px</b> as a basic measurement And we use <b>0.618</b> as the basic increase/decrease rate. font level, title level, padding, margin are all accroding to the default setting above.') %></p>
        <img alt="the font typograph demo" data-img="dist/src/doc/src/typograph.png" style="max-width:100%;">
        <div class="h0"><%= __('level 0 title') %></div>
        <div class="h1"><%= __('level 1 title') %></div>
        <div class="h2"><%= __('level 2 title') %></div>
        <div class="h3"><%= __('level 3 title') %></div>
        <div class="h4"><%= __('level 4 title') %></div>
        <div class="h5"><%= __('level 5 title') %></div>
        <div class="h6"><%= __('level 6 title') %></div>
        <div class="paragraph">
            <p>$font-size-base: 1rem;</p>
            <p>$increse: 0.618;</p>
            <p> $font-size-0: ($font-size-base + $increse*4);</p>
            <p> $font-size-1: ($font-size-base + $increse*2.5);</p>
            <p> $font-size-2: ($font-size-base + $increse*1.5);</p>
            <p> $font-size-3: ($font-size-base + $increse);</p>
            <p> $font-size-4: ($font-size-base + $increse/2);</p>
            <p> $font-size-5: $font-size-base;</p>
            <p> $font-size-6: ($font-size-base - $increse/2);</p>
            <p> $font-size-7: $font-size-base * $increse;</p>
        </div>
    </div>
</div>
