<div data-header class="header">
    <div class="header-form">
        <a class="header-form-logo" href="javascript:;"> <i class="icon-cui"></i></a>
        <a class="header-form-btn" href="javascript:;" id="menuButton"><i class="icon-bars"></i></a>
        <div data-textbox="" class="input large right">
            <label for="headerInput">Search for ...</label>
            <input id="headerInput" type="text">
            <a href="javascript:;" class="btn"><i class="icon-search"></i></a>
        </div>
    </div>
    <div class="header-menu-list right">
        <div class="header-menu-list-wrap">
            <div class="header-menu-item right">
                <a href="/ch"><%= __('API Document') %></a>
            </div>
            <div class="header-menu-item" data-headermenu>
                <a href="javascript:;"><%= __('Demo') %></a>
                <ul>
                    <li><a href="javascript:;"><%= __('Recommendation') %></a></li>
                    <li><a href="javascript:;"><%= __('Portals') %></a></li>
                    <li><a href="javascript:;"><%= __('Commerce') %></a></li>
                    <li class="splict">
                        <a class="hightlight" href="<%=url + 'v-1.html'%>"><%= __('Note') %></a>
                    </li>
                    <li>
                        <a href="javascript:;"><%= __('Blog') %></a>
                    </li>
                </ul>
            </div>
            <div class="header-menu-item">
                <a href="javascript:;"><%= __('Design Document') %></a>
            </div>
        </div>
    </div>
    <div class="header-overlay"></div>
</div>
<div style="height:50px;"></div>
