<div data-header class="header">
    <div class="header-bar">
        <a  href="javascript:;" class="f2"> <i class="icon-cui"></i></a>
        <div data-textbox="">
            <div  class="input right">
                <label for="headerInput">Search for ...</label>
                <input id="headerInput" type="text">
                <a href="javascript:;" class="btn"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <ul class="header-menu-list">
            <li>
                <a href="/ch"><%= __('API Document') %></a>
            </li>
            <li>
                <a href="javascript:;"><%= __('Demo') %></a>
                <ul>
                    <li><a href="javascript:;"><%= __('Recommendation') %></a></li>
                    <li><a href="javascript:;"><%= __('Portals') %></a></li>
                    <li><a href="javascript:;"><%= __('Commerce') %></a></li>
                    <li class="splict">
                        <a class="hightlight" href="<%=url + 'v-1.html'%>"><%= __('Note') %></a>
                    </li>
                    <li>
                        <a href="javascript:;"><%= __('Blog') %></a>
                    </li>
                </ul>
            </li>
            <li class="right">
                <a href="javascript:;"><%= __('Design Document') %></a>
            </li>
        </ul>
        <a href="javascript:;" class=" header-switch-link f2"><i class="icon-bars"></i></a>
    </div>

</div>
