<div class="panel">
    <a href="javascript:;" class="h2" data-collapse data-target="#cssColor">
        <%= __('color solution') %>
        <span class="subtitle"> <%= __('the regular color we used.') %></span>
    </a>
    <div id="cssColor">
        <div class="row ">
            <div class="col-xs-12">
                <p class="f4">
                    <%= __('The color solution can be group by emotion.') %>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <%= __('the main color is the basic emotion of website.') %>
                </p>
                <p>
                    <%= __('Reference: link color, default button background, header background,footer background and some important case.') %>
                </p>

            </div>
        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-main">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-main-l1">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-main-l2">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-main-l3">(0,0,0)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p><%= __('Some regular gray color') %>: <%= __('The border color') %>; <%= __('The text color') %>; <%= __('Lightgray color') %>; <%= __('the disable color') %>;</p>
            </div>
        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-d">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-4">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-a">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-a">(0,0,0)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <%= __('the warning color is orange. Use these color to make user feeling curious.') %>
                </p>
                <p>
                    <%= __('Reference: highlighted text, submit button hover style, price reduce listing, and some special case which is outstanding.') %>
                </p>
            </div>
        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-warning">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-warning-l1">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-warning-l2">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-warning-l3">(0,0,0)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <%= __('the safe color is green.Use these color to make user feeling fulfillment.') %>
                </p>
                <p>
                    <%= __('Reference: success info, high rank, new listing and something good to know.') %>
                </p>
            </div>

        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-safe">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-safe-l1">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-safe-l2">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-safe-l3">(0,0,0)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <%= __('the danger color is red.Use these color to make user feeling serious.') %>
                </p>
                <p>
                    <%= __('Reference: error info, low rank, dangerous behavior and something unexpected.') %>
                </p>
            </div>
        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-danger">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-danger-l1">(0,0,0)</div>
            </div>

            <div class="col-xs-3">
                <div class="circle-item color-danger-l2">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-danger-l3">(0,0,0)</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <%= __('the tip color is yellow.Use these color to make user feeling never mind.') %>
                </p>
                <p>
                    <%= __('Reference: tip info, low level message or comment.') %>
                </p>
            </div>

        </div>
        <div class="row colors">
            <div class="col-xs-3">
                <div class="circle-item color-tip">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-tip-l1">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-tip-l2">(0,0,0)</div>
            </div>
            <div class="col-xs-3">
                <div class="circle-item color-tip-l3">(0,0,0)</div>
            </div>
        </div>
    </div>
</div>
