<%
    var url = locals.url || '';
    var cdnUrl =  url + "dist/src/"
%>
<!DOCTYPE html>
<html>

<head>
    <title><%= __('CUI framewrok') %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta description='the documation of UI framework' />
    <meta name="Description" content="Author: Conjee Zou, UI framework, Category: Document, Lisence: MIT">
    <link rel="manifest" href="<%= cdnUrl +'doc/src/manifest.json' %>">
    <link href="<%=cdnUrl + 'cui.css'%>" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="<%=cdnUrl +'img/favicon.ico'%>" type="image/x-icon">
    <link rel="icon" href="<%=cdnUrl +'favicon.ico'%>" type="image/x-icon">
</head>
<%- include('./views/tpl-header') %>
<body id="body" class="classic">

<div class="gs-fixed">
    <%- include('./views/tpl') %>
    <%- include('./views/plugin') %>
</div>
</body>
<script>
    window.context = {
        url:'<%= url%>',
        cdnUrl:'<%= cdnUrl %>',
        googleMapKey:'key=AIzaSyAYhIz6xpe-HBVYdWvkCY0EnWfQgoeHHwI'
    };
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/serviceworker.js')
      .then(function(registration) {
        console.log('Registration successful, scope is:', registration.scope);
      })
      .catch(function(error) {
        console.log('Service worker registration failed, error:', error);
      });
    }
</script>
<script src="<%= cdnUrl +'cui.min.js' %>" type="text/javascript"></script>
<script>
var x =$('body').locker({
    onbeforelock:function(){
        $.preload({
            files:['dist/src/doc/src/doc.css','dist/src/doc/src/doc.js']
        }).then(function(){
            x.unlock();
        });
    }
});
</script>
</html>
