<!DOCTYPE html>
<html lang="<%=locals.lang||'ch'%>">
<head>
    <script>
    var host = "shishiv30.github.io";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
    </script>
    <title><%= __('CUI framewrok') %></title>
    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content='width=device-width, initial-scale=1.0' name='viewport'/>
    <meta description='the documation of UI framework' />
    <meta name="Description" content="Author: Conjee Zou, UI framework, Category: Document, Lisence: MIT">
    <meta name="background-color" content="#ffffff">
    <meta name="theme-color" content="#333333">
    <link rel="manifest" href="<%= cdnUrl +'doc/src/manifest.json' %>">
    <link href="<%=cdnUrl + 'cui.min.css'%>" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="<%=url +'favicon.ico'%>" type="image/x-icon">
    <link rel="icon" href="<%=url +'favicon.ico'%>" type="image/x-icon">
    <%- include('./views/css') %>
</head>
<%- include('./views/tpl-header') %>
<body id="body" class="classic">

<div class="gs-fixed">
    <%- include('./views/tpl') %>
    <%- include('./views/plugin') %>
</div>
</body>
<script>
    window.context = {
        url: '<%=url%>',
        cdnUrl: '<%=cdnUrl%>',
        googleMapKey:'key=AIzaSyBtspK44Jc-DabkyA6knFuQ6LSp_8VXZgc'
    };

    navigator.serviceWorker.register(window.context.url + 'sw.js')
        .then(function(registration) {
            console.log("Service worker registered, scope: " + registration.scope);
        })
        .catch(function(error) {
            console.log("Service worker registration failed: " + error.message);
        });
</script>
<script src="<%= cdnUrl +'cui.lib.min.js' %>" type="text/javascript"></script>
<script src="<%= cdnUrl +'cui.min.js' %>" type="text/javascript"></script>
<%- include('./views/js') %>
</html>
