<%
var url = locals.url || '';
%>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <link href="<%= url + 'dist/src/cui.css' %>" type="text/css" rel="stylesheet"/>
    <%- include('inlinecss') %>
</head>
<%- include('tpl-header') %>
<body id="body">

<div class="gs-fixed">
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-color') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-typograph') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-grid') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-responsive') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-button') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-tip') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-form') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-textbox') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-dialog') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-collapse') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-gridtable') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-rangeslider') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-slider') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-shifter') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-carousel') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-datatable') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-spritimage') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-gridview') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-imgzoom') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('plugin-touch') %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%- include('tpl-measurement') %>
        </div>
    </div>
</div>
</body>
<script src="<%= url + 'dist/src/cui.js' %>" type="text/javascript"></script>
<%- include('inlinejs.ejs') %>
</html>
