<div data-header class="header">
    <div class="header-form">
        <a class="header-form-logo" href="javascript:;"> <i class="icon-github"></i></a>
        <a class="header-form-btn" href="javascript:;" id="menuButton"><i class="icon-bars"></i></a>
        <div class="input right">
            <input id="headerInput" type="text">
            <a href="javascript:;" class="btn pink"><i class="icon-search"></i></a>
        </div>
    </div>
    <div class="header-menu-list right">
        <div class="header-menu-list-wrap">
            <div class="header-menu-item">
                <a href="/ch"><%= __('API Document') %></a>
            </div>
            <div class="header-menu-item right" data-menu="expand">
                <a href="javascript:;"><%= __('Demo') %> <i class="caret"></i></a>
                <ul>
                    <li>
                        <a href="javascript:;"><%= __('Recommendation') %></a>
                        <a href="javascript:;"><%= __('Portals') %></a>
                        <a href="javascript:;"><%= __('Commerce') %></a>
                        <a href="javascript:;"><%= __('Blog') %></a>
                    </li>
                </ul>
            </div>
            <div class="header-menu-item right">
                <a href="javascript:;"><%= __('Design Document') %></a>
            </div>
        </div>
    </div>
</div>
<div style="height:50px;"></div>
