<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-color') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-typograph') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-layout') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-flex') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-grid') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-responsive') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-button') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('plugin-tip') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-form') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-textbox') %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <%- include('tpl-skeleton') %>
    </div>
</div>
