<%- include('./views/header') %>
<div class="article">
    <div>
        <div class="h2">About Us 关于“逐梦者”</div>
        <div>Dream Chaser Ltd is based in Dunedin of New Zealand</div>
        <div>
            “逐梦者”是一家新西兰公司，落地于新西兰达尼丁市。 旨在为前往新西兰游学、留学的学生以及学生家长提供最专业、最贴心、最全面的服务。
        </div>
        <div>
            “逐梦者”的核心团队是一个名副其实的精英团队。他们均受过顶端的学术教育，且拥有丰富的实践经验， 这让“逐梦者”在针对用户的服务设计上，贯彻着高度的水准。他们还来自不同的文化背景， 正是他们多元化的思维以及对处理文化碰撞的经验， 使得“逐梦者”更走近游学生、留学生的世界，充分为孩子着想，为孩子们的梦想而努力。
        </div>
    </div>
</div>
<div class="article">
    <div class="h2">
        <img src="<%=url+'dist/src/demo1/src/a6-1.jpg'%>" alt="a6-1">
        <div class="hidden-ch">The Founder of Dream Chaser</div>
        <div class="hidden-en">逐梦者的创始人</div>
        <sub>Amanda Liu</sub>
    </div>
    <div>
        <span class="hidden-ch">Amanda Liu is the founder of Dream Chaser. Just as the name of the company suggests Amanda is chasing her dream. Amanda</span>
        <span class="hidden-en">Amanda 是“逐梦者”的创始人。正如其字，Amanda也在通过“逐梦者”追逐属于她的梦想。</span>
    </div>
    <div>
        <span class="hidden-ch">Amanda has studied in both China and New Zealand. She could fully understand the culture gap between those two countries and the internatinal students’ demand.</span>
        <span class="hidden-en">Amanda接受过中国和新西兰两国的高等教育，因此她深刻地理解两种不同文化和不同教育体系的差异。
        更通过成功跨越这两种文化的差异和冲突，收获了宝贵的人生经验和海外生活经验。
        也正是由于这种经验的获得，Amanda能从发自内心的角度洞察留学生的需求。</span>
    </div>
    <div>
        <span class="hidden-ch">Amanda’s effors are aimed to help internatinal students study and live overseas comfortably and confidently, and achieve their life goals.</span>
        <span class="hidden-en">Amanda想通过自己的努力帮助其它的留学生克服海外留学生活所不得不面对的一系列挑战，以及文化冲突造成的一系列问题。让留学生可以在海外舒适、自信的生活，实现自己的人生目标</span>
    </div>
</div>
<div class="article">
    <div class="h2">
        <img src="<%=url+'dist/src/demo1/src/a6-2.jpg'%>" alt="a6-2">
        <div class="hidden-ch">Business Mentor In NZ</div>
        <div class="hidden-en">商业导师</div>
        <sub>Damien Mather</sub>
    </div>
    <div>
        <span class="hidden-ch">Senior Lecturer in Otago University</span>
        <span class="hidden-en">奥塔哥大学高级讲师,博士生导师</span>
    </div>
    <div>
        <span class="hidden-ch">Amanda’s business mentor</span>
        <span class="hidden-en">Amanda的商业导师</span>
    </div>
    <div>
        <span class="hidden-ch">Dr. Damien Mather's research concerns three major fields of enquiry: strategy, policy and branding in international business; pricing and distribution; and business communications. His areas of expertise include advanced quantitative research methods and techniques, customer analytics and market research. </span>
        <span class="hidden-en">Damien Mather博士的学术研究领域涉及三大领域：战略，政策和国际商业品牌; 定价和分配; 和商业沟通。 他的专业领域还包括先进的定量研究方法和技术，客户分析和市场研究。</span>
    </div>
    <div>
        <span class="hidden-ch">Dr. Damien’s knowledge and professional skills help Dream Chaser understand international students and their parents more and design our programme better. </span>
        <span class="hidden-en">Damien Mather博士的专业知识和技帮助Dream Chaser更多、更深入地了解国际学生和他们的父母，并从国家学生的真正需要出发，设计更好的产品和服务。</span>
    </div>
</div>
<div class="article">
    <div class="h2">
        <img src="<%=url+'dist/src/demo1/src/a6-3.jpg'%>" alt="a6-3">
        <div class="hidden-ch">Technical Support</div>
        <div class="hidden-en">技术支持</div>
        <sub>Paul Hansen</sub>
    </div>
    <div>
        <span class="hidden-ch">Associate Professor in Otago University</span>
        <span class="hidden-en">奥塔哥大学副教授</span>
    </div>
    <div>
        <span class="hidden-ch">The co-inventor of 1000Minds software, Paul is very interested in working with other researchers and students to apply 1000Minds to a wide variety of decision-making problems.</span>
        <span class="hidden-en">作为1000Minds软件的共同发明者，除了丰硕的学术建设以外，Paul还致力于与其他研究人员和学生合作，将1000Minds应用于各种决策问题。</span>
    </div>
    <div>
        <span class="hidden-ch">1000Minds helps Dream Chaser to match students with schools.</span>
        <span class="hidden-en">1000Minds帮助Dream Chaser通过专业的决策分析来实现学生与最佳学校的匹配。</span>
    </div>
</div>
<div class="article">
    <div class="h2">
        <img src="<%=url+'dist/src/demo1/src/a6-4.jpg'%>" alt="a6-4">
        <div class="hidden-ch">The Director of Dream Chaser</div>
        <div class="hidden-en">董事</div>
        <sub>Paul Hansen</sub>
    </div>
    <div>
        <span class="hidden-ch">Chung is a Cambodian who was born and grew up in New Zealand. </span>
        <span class="hidden-en">Chung是一位出生并成长在新西兰的柬埔寨人。</span>
    </div>
    <div>
        <span class="hidden-ch">Chung lives in both Cambodia and New Zealand. </span>
        <span class="hidden-en">It is his multiculturalism background that enables Dream Chaser to cope with the conflicts and integration of different cultures, and help international students study and live better in New Zealand.长期游走于新西兰和柬埔寨之间。正是他的多元文化成长背景，使得“逐梦者”能更好的应对不同文化的冲突和融合，从而帮助留学生在新西兰更好地学习和生活。</span>
    </div>
</div>
<%- include('./views/footer') %>
