<%- include('./views/header') %>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch ">Living in NZ</span>
            <span class="hidden-en">生活在新西兰</span>
        </div>
        <p class="hidden-ch">World-famous for its friendly people, spectacular landscape and relaxed lifestyle, New Zealand is an unbeatable place to live and study.</p>
        <p class="hidden-en">新西兰以友善的居民、令人赞叹的风景以及悠闲的生活方式闻名世界，因此您的孩子将在这里享受无与伦比的生活、学习体验。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a13-1.jpg'%>" alt="a13-1" class="welcomeimg">
<div class="content-panel" style="background-color: #eee;">
    <div>
        <div class="h3">
            <span class="hidden-ch">What Would Daily Life Be Like?</span>
            <span class="hidden-en">关于日常生活</span>
        </div>
        <p class="hidden-ch">The size of the UK or Japan but with a population of only 4.6 million people, New Zealand gives you room to breathe and the space to be yourself.</p>
        <p class="hidden-en">新西兰的国土面积等同与英国或日本，但却只有约 460万的人口。广阔的国土和稀少的人口，让在这里的生活更轻松、更惬意。 </p>
        <p class="hidden-ch">New Zealand consistently leads world quality of life studies, and we have a great work-life balance. Kiwis believe in balancing a good day’s work or study with time after work and on the weekends to catch up with family and friends, enjoy hobbies and explore nature.</p>
        <p class="hidden-en">新西兰长久以来在生活质量调查中位于全球领先地位，人们享有良好的工作、学习和生活的平衡。新西兰人秉承的生活理念源自他们对待工作、闲暇时间的平衡掌握，以及对家庭时光、个人爱好以及与自然相处的热爱。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a13-2.jpg'%>" alt="a13-2" class="welcomeimg">
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Choose Your Adventure</span>
            <span class="hidden-en">选择专属的“冒险”</span>
        </div>
        <p class="hidden-ch">Each day is a new adventure in New Zealand. Explore native forests, snow-capped mountains, white sandy beaches, picture-perfect lakes and stunning fjords - all without the crowds and queues you’ll find in most parts of the world.</p>
        <p class="hidden-en">在新西兰的每一天都是全新的冒险。迷人的原始森林、壮阔的雪山、白沙海滩、湛蓝神往的湖泊、令人赞叹的峡湾－近在咫尺！</p>
        <p class="hidden-ch">There’s something for everyone in New Zealand, whether you enjoy high-adrenalin sports like bungy jumping, skydiving or jet boating, or prefer to get closer to nature by hiking or cycling. You’ll be able to experience our unique Māori culture and see the landscapes made famous by the Lord of the Rings and Hobbit film trilogies.</p>
        <p class="hidden-en">无论您与您的家人抑或热爱极限运动）蹦极、高空跳伞、喷气船等），抑或热爱贴近自然（登山、骑车、公路游等），新西兰都将尽善尽美地满足到您。在这里，您将体验到独一无二的毛利文化，以及享受到远远超出“魔戒”和“霍比特人”电影场景中的无与伦比的美景。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a13-3.jpg'%>" alt="a13-3" class="welcomeimg">
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Friendship Kiwi-Style</span>
            <span class="hidden-en">对留学生的款待</span>
        </div>
        <p class="hidden-ch">New Zealand is one of the safest and friendliest places you can choose for your studies. In 2017, we were named the world’s second most peaceful country by the Global Peace Index, and in 2016, the world’s least corrupt country by Transparency International’s Corruption Perception Index. </p>
        <p class="hidden-en">新西兰是直接上最安全、最友善的国家之一。2017年，新西兰被认定为世界第二最和平的国家。2016年，新西兰被认定为世界上最反腐透明的国家。   </p>
        <p class="hidden-ch">Your education provider will have signed a code for pastoral care aimed at ensuring you have the care and support you need to have successful study experience in New Zealand.</p>
        <p class="hidden-en">新西兰的每一所合法的留学机构（包括学校），都必须签订并遵守新西兰政府颁布的留学生关怀协议。该协议旨在保证您的孩子在新西兰享受应有的关怀以及全方位的支持，让孩子能在新西兰顺利且安心的完成学业。</p>
    </div>
</div>
<%- include('./views/footer') %>
