<%- include('./views/header') %>
    <div class="gs-sin">
        <div class="row">
            <div class="col-xs-12">
                <div class="slicker" data-slicker data-responsive="false">
                    <ul>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a-1.jpg'%>" alt="a-1"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a-2.jpg'%>" alt="a-2"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a-3.jpg'%>" alt="a-3"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a-4.jpg'%>" alt="a-4"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div class="h3">
            <div class="hidden-ch">FOUR REASONS TO CHOOSE “STUDY TOUR” IN New Zealand</div>
            <div class="hidden-en">选择游学新西兰的四大理由</div>
        </div>
    </div>
    <div class="content-panel highlight">
        <ul class="content-list">
            <li class="hidden-ch">The only country who has a law to protect student vistor on Earth</li>
            <li class="hidden-en">全世界唯一颁布游学生保护法的国家</li>
            <li class="hidden-ch">New Zealand’s education system has established on and developed from the Brithish one, which is viewed as one of the best systems in the world</li>
            <li class="hidden-en">新西兰的教育体系传承、发展了英国教育体系，被视为全世界最好的教育体制之一</li>
            <li class="hidden-ch">New Zeanland is the second safest country in the world</li>
            <li class="hidden-en">新西兰的国家安全性居世界第二</li>
            <li class="hidden-ch">New Zealand is a pearl located in the South Pacific, and it is a window to open a world full with adventure</li>
            <li class="hidden-en">新西兰是南太平洋上的一颗明珠，更是一扇打开纯净、健康生活方式的窗户</li>
            <li class="link"><a href="#"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a></li>
        </ul>
    </div>
    <div class="content-panel">
        <div class="gs-fixed">
            <div class="row">
                <div class="col-xs-12">
                    <div class="h4">
                        <div class="hidden-ch">FIND PROGRAMME</div>
                        <div class="hidden-en">搜索适合您孩子的游学项目</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dropdown-button" data-dropdownbutton>
                        <a href="javascript:;" class="black"><span class="hidden-ch">Age</span> <span class="hidden-en">学龄</span></a>
                        <a href="javascript:;" class="black"><i class="icon-graduation-cap"></i></a>
                        <div class="dropdown-button-list">
                            <a href="javascript:;" class="black"><span class="hidden-ch">Primary School</span> <span class="hidden-en">小学</span> </a>
                            <a href="javascript:;" class="black"><span class="hidden-ch">Intermediate</span> <span class="hidden-en">初中</span> </a>
                            <a href="javascript:;" class="black"><span class="hidden-ch">High School</span> <span class="hidden-en">高中</span> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="dropdown-button" data-dropdownbutton>
                        <a href="javascript:;" class="black"> <span class="hidden-ch">Time</span> <span class="hidden-en">游学时间</span></a>
                        <a href="javascript:;" class="black"><i class="icon-calendar"></i></a>
                        <div class="dropdown-button-list">
                            <a href="javascript:;" class="black"><i class="icon-date"></i><span class="hidden-ch">Summer</span> <span class="hidden-en">暑假</span> </a>
                            <a href="javascript:;" class="black"><i class="icon-date"></i><span class="hidden-ch">Winter</span> <span class="hidden-en">寒假</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="link-video">
        <div class="link-video-title f2">
            <span class="hidden-ch">STUDENT STORIES</span>
            <span class="hidden-en">学生故事</span>
        </div>

        <i class="icon-play-circle"></i>
        <img src="<%=url+ 'dist/src/demo1/src/a-bar.jpg'%>" alt="a-bar" class="welcomeimg">
    </a>
    <div class="content-panel linklist">
        <div class="flex-gs-fixed">
                <div class="flex-xs-12 flex-sm-6">
                    <p class="h4"><span class="hidden-ch">QUICKLINKS</span> <span class="hidden-en">快速链接</span></p>
                    <ul>
                        <li>
                            <a class="link" href="#">2018暑假游学</a>
                        </li>
                        <li>
                            <a class="link" href="#">2019寒假游学</a>
                        </li>
                        <li>
                            <a class="link" href="#">新西兰签证办理</a>
                        </li>
                    </ul>
                </div>
                <div class="flex-xs-12 flex-sm-6">
                    <p class="h4"><span class="hidden-ch">FOLLOW US</span> <span class="hidden-en">关注我们</span></p>
                    <img src="<%=url+ 'dist/src/demo1/src/code.jpg'%>"alt="code id" style="height:50px;">
                    <ul>
                        <li>
                            <a href="#" class="link"><i class="icon-weibo"></i> <span class="hidden-ch">Webo</span> <span class="hidden-en">微博</span></a>
                        </li>
                        <li>
                            <a href="#" class="link"><i class="icon-wechat"></i> <span class="hidden-ch"> Wechat</span> <span class="hidden-en">微信</span></a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="content-panel">
        <div class="h3">
            <div class="hidden-ch">DUNEDIN IN NEW ZEALAND</div>
            <div class="hidden-en">新西兰唯一的大学城——达尼丁</div>
        </div>
    </div>
    <div class="gs-sin">
        <div class="row">
            <div class="col-xs-12">
                <div class="slicker" data-slicker data-responsive="false">
                        <ul>
                            <li><img data-img="<%= url + 'dist/src/demo1/src/a-5.jpg'%>" alt="a-5"></li>
                            <li><img data-img="<%= url + 'dist/src/demo1/src/a-6.jpg'%>" alt="a-6"></li>
                            <li><img data-img="<%= url + 'dist/src/demo1/src/a-7.jpg'%>" alt="a-7"></li>
                            <li><img data-img="<%= url + 'dist/src/demo1/src/a-8.jpg'%>" alt="a-8"></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
<%- include('./views/footer') %>
