<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="h2">
                <p class="hidden-ch">What is Study Tour</p>
                <p class="hidden-en">什么是游学</p>
            </div>
            <p class="hidden-ch">The study tour designed by Dream Chaser focus on help students aged</p>
            <p class="hidden-ch">Between 8-15, to explore the western culture and education, by a 2-4 weeks study in a local school in New Zealand.</p>
            <p class="hidden-en">“逐梦者”的游学项目是针对9-15岁青少年，开展的区别与传统游学活动，以教育为重点，旅游活动为辅助的海外学旅。</p>
        </div>
    </div>
    <div class="content-panel" style="background:#f4f5f4;">
        <div>
            <p>是一次学习纯正英语的机会；</p>
            <p>是一场感受西方文化的盛宴；</p>
            <p>是一个非同寻常的灿烂假期；</p>
            <p>更是一次放飞孩子梦想的机会！</p>
        </div>
    </div>
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">A taste of Western Education</span>
                <span class="hidden-en">置身西方教育</span>
            </div>
            <ul class="text-left">
                <li class="hidden-ch">• Study as a local student; </li>
                <li class="hidden-en">• 入读新西兰当地学校;</li>
                <li class="hidden-ch">• Play as a local student;</li>
                <li class="hidden-en">• 与新西兰学生一起学习、玩乐;</li>
                <li class="hidden-ch">• A new way to study; </li>
                <li class="hidden-en">• 您的孩子将发现，课堂远比想象中的更有趣、更多彩；</li>
                <li class="hidden-ch">• The best way to learn English; </li>
                <li class="hidden-en">• 在纯正的英文环境下，锻炼提升孩子的英文水平；</li>
            </ul>
        </div>
    </div>
    <div class="gs-sin">
        <div class="row">
            <div class="col-xs-12">
                <div class="slicker" data-slicker data-responsive="false">
                    <ul>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-1.jpg'%>" alt="a21-1"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-2.jpg'%>" alt="a21-2"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-3.jpg'%>" alt="a21-3"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-4.jpg'%>" alt="a21-4"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Explore the Western culture</span>
                <span class="hidden-en">融入西方生活 </span>
            </div>
            <ul class="text-left">
                <li class="hidden-ch">• Live with the locals;</li>
                <li class="hidden-en">• 入住新西兰当地家庭;</li>
                <li class="hidden-ch">• Live as a local person;</li>
                <li class="hidden-en">• 与新西兰人一起生活、互动;</li>
                <li class="hidden-ch">• Explore the history;</li>
                <li class="hidden-en">• 走进英国殖民文化，探索历史的痕迹；</li>
                <li class="hidden-ch">• Fill the gap between two cultures; </li>
                <li class="hidden-en">• 探索中西方文化的差异，练造孩子多元化的思维；</li>
                <li class="hidden-ch">• Gain valuable life skills; </li>
                <li class="hidden-en">• 除了英语以外，您的孩子还将收获到独立生活能力、<br> &nbsp;&nbsp;跨文化的沟通能力、适应环境的能力，等等。</li>
            </ul>
        </div>
    </div>
    <div class="gs-sin">
        <div class="row">
            <div class="col-xs-12">
                <div class="slicker" data-slicker data-responsive="false">
                    <ul>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-5.jpg'%>" alt="a21-5"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-6.jpg'%>" alt="a21-6"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-7.jpg'%>" alt="a21-7"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-8.jpg'%>" alt="a21-8"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-en">体验纯净新西兰 </span>
                <span class="hidden-ch">Experience 100% pure New Zealand</span>
            </div>
            <ul class="text-left">
                <li class="hidden-ch">• The stunning scenery in New Zealand is waiting for you;</li>
                <li class="hidden-en">• 新西兰令人赞叹的美景在等待您和您的小孩 ;</li>
                <li class="hidden-ch">• Here are the blue sky、the fresh air、the remarkable mountains、and the transparent lakes；</li>
                <li class="hidden-en">• 湛蓝的天空、清新的空气、 迷人的山湖…；</li>
                <li class="hidden-ch">• Various outdoor activities are here; </li>
                <li class="hidden-en">• 炫酷多彩的户外活动...</li>
            </ul>
        </div>
    </div>
    <div class="gs-sin">
        <div class="row">
            <div class="col-xs-12">
                <div class="slicker" data-slicker data-responsive="false">
                    <ul>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-9.jpg'%>" alt="a21-9"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-10.jpg'%>" alt="a21-10"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-11.jpg'%>" alt="a21-11"></li>
                        <li><img data-img="<%= url + 'dist/src/demo1/src/a21-12.jpg'%>" alt="a21-12"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('./views/footer') %>