<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Schools</span>
                <span class="hidden-en">新西兰初高中</span>
            </div>
            <div class="hidden-ch">New Zealand School---A new way to learn!</div>
            <div class="hidden-en">新西兰学校——一种全新的学习方式！</div>
            <div class="hidden-ch">New Zealand’s K12 education System consistently ranks among the best in the world.</div>
            <div class="hidden-en">新西兰的K12教育体系一直被评为全球最好的教育体系之一。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a31-1.jpg'%>" alt="a31-1" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Quality Education in New Zealand</span>
                <span class="hidden-ch">You can be confident New Zealand will meet the highest education standards</span>
                <span class="hidden-en">毋庸置疑，新西兰的教育体系达到全球最高的标准</span>
            </div>
            <div class="hidden-ch">•The latest PISA results show that eight percent of New Zealand students were top all-round students, double the OECD average.</div>
            <div class="hidden-en">•在最新的PISA测试结果中，8％的新西兰学子是全球顶尖人才，是OECD平均值的两倍。</div>
            <div class="hidden-ch">•New Zealand students' PISA scores for literacy, maths and science are amongst the highest in the world.</div>
            <div class="hidden-en">•新西兰学子的PISA测试中，文学、数学以及科学均取得全球最高分。</div>
            <div class="hidden-ch">•All schools adhere to standards set and rigorously monitored by the New Zealand Government.</div>
            <div class="hidden-en">•新西兰所有的学校都接受新西兰政府的监管，且严格执行高水平的教育标准。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a31-2.jpg'%>" alt="a31-2" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Feel Safe in New Zealand</span>
                <span class="hidden-en">倍感安全的新西兰</span>
            </div>
            <div class="hidden-ch">The first country to introduce a Code of Practice to protect international students</div>
            <div class="hidden-en">新西兰是全球第一个国家颁布专有条例保护留学生的国家</div>
            <div class="hidden-ch">The Code of Practice for the Pastoral Care of International Students is monitored by the New Zealand Government, covering the entire education process, which all schools must follow. The Code provides an expectation of standards, advice and
                pastoral support to international students.</div>
            <div class="hidden-en">关怀、保护留学生的条例由新西兰政府办法，其涵盖了新西兰整个教育系统，每一所学校都必须遵守。该条例不仅保护了留学生的权益，且为支持、关怀留学生提供了标准依据。</div>
            <div class="hidden-ch">One of the safest countries in the world to live</div>
            <div class="hidden-en">新西兰是世界上最安全的国家之一</div>
            <div class="hidden-ch">New Zealand has been voted the second most peaceful country by the Global Peace Index. It's also the least corrupt nation, according to the Transparency International Corruption perception Index. The 2014 Legatum Prosperity Index ranks New Zealand
                as 3rd, ahead of the USA, UK and Australia.</div>
            <div class="hidden-en">在全球和平指数调查中，新西兰名列世界第二。同时，新西兰还是全球最清廉的国家。在2014的列格坦繁荣指数调查中，新西兰位于全球第三，居于美国、英国及澳大利亚之前。</div>
            <div class="hidden-ch">Every New Zealand school adheres to a quality assurance system</div>
            <div class="hidden-en">每一所新西兰学校都严格遵循教育质量保障体系</div>
            <div class="hidden-ch">The regulatory system allows students and their families to feel confident about choosing the school that best meets their needs.</div>
            <div class="hidden-en">新西兰的教育质量保障体系使得您和您的孩子可以放心选择心仪的学校。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a31-3.jpg'%>" alt="a31-3" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">A New Way to Teach and Learn</span>
                <span class="hidden-en">一种全新的教学方式</span>
            </div>
            <div class="hidden-ch"> Here, every student can achieve their best and reach their potential</div>
            <div class="hidden-en"> 在新西兰，每一位学生的潜能都可以得到充分挖掘</div>
            <div class="hidden-ch">•Students enjoy focused, personal attention from passionate and caring teachers.</div>
            <div class="hidden-en">•新西兰学生拥有热情关爱的老师的充分关注和个人关怀。</div>
            <div class="hidden-ch">•Study involves a balance of practical and theoretical learning.</div>
            <div class="hidden-en">•在新西兰的学习是理论和时间的充分平衡。</div>
            <div class="hidden-ch">•Students are encouraged to think creatively, independently & analytically.</div>
            <div class="hidden-en">•在新西兰，鼓励学生创造性地、独立地、逻辑性地思考。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a31-4.jpg'%>" alt="a31-4" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">A School System That Fits Around Students</span>
                <span class="hidden-en">一个使学生全面发展的教育体系</span>
            </div>
            <div class="hidden-ch">The New Zealand education system gives students everything they need</div>
            <div class="hidden-en">新西兰的教育体系给予学生所需</div>
            <div class="hidden-ch">Our system allows students to design an education that best meets their needs and personality. They can choose the type of school and its location, as well as the ideal study programme within a fresh new environment.</div>
            <div class="hidden-en">新西兰的教育体系允许学生自主选择最适合他们自己需求和性格的学习方式。他们不仅可以自助选择学校的类型和落点，更可以选择最适合自己的学习项目。</div>
            <div class="hidden-ch">New Zealand is a diverse country. So is our education system</div>
            <div class="hidden-en">新西兰是一个多样化国家，新西兰教育体系同样如此</div>
            <div class="hidden-ch">Students can choose from schools that are girls only, boys only or have both. Accommodation options vary and include homestays and on-campus boarding facilities.</div>
            <div class="hidden-en">新西兰的学生可以选择就读女校、南校或者混合学校。住宿方式也多种多样，包括寄宿家庭、寄宿学校等。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a31-5.jpg'%>" alt="a31-5" class="welcomeimg">
    <%- include('./views/footer') %>