<%- include('./views/header') %>

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Information for Parents</span>
            <span class="hidden-en">父母指南</span>
        </div>
        <p class="hidden-ch">Give your child the opportunity to gain a world-class education, making lifelong friendship and learn new ways of thinking! </p>
        <p class="hidden-en">给孩子一个获得世界一流的教育、陪伴终身的友谊以及创新的思考方式的机会。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a15-1.jpg'%>" alt="a14-1" class="welcomeimg">

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">World-class Education </span>
            <span class="hidden-en">世界级的教育水准</span>
        </div>
        <p class="hidden-ch">The flexible, supportive New Zealand education system gives students the skills and experience they need to succeed anywhere in the world.</p>
        <p class="hidden-en">新西兰的教育体制，灵活而又对学生充满关怀和支持，帮助学生获得伴其终身的技能和受用终身的经历，并能在世界范围内收获成功。</p>
        <p class="hidden-ch">Students gain the ability to work well with people from different cultures and backgrounds, and learn English by living it - not just by learning it from a textbook.</p>
        <p class="hidden-en">在新西兰，孩子可以培养跨文化的合作技能，且让英语文化扎根其内，而非仅仅学习书本知识。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a15-2.jpg'%>" alt="a14-1" class="welcomeimg">

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Safe & Welcome </span>
            <span class="hidden-en">安全&好客</span>
        </div>
        <p class="hidden-ch">Safe, politically stable and culturally diverse, New Zealand is ranked one of the most peaceful and least corrupt countries in the world.</p>
        <p class="hidden-en">新西兰因其社会安全性、政治稳定性以及文化多样性，被评为世界最和平、最不腐败的国家之一。</p>
        <p class="hidden-ch">We have a high standard of living, clean air, a healthy lifestyle and quality food and accommodation. </p>
        <p class="hidden-en">新西兰拥有高质量的生活质量标准、清新干净的空气、健康的生活方式以及高质量的食物供给、居住环境。</p>
        <p class="hidden-ch">Homestays welcome students into a Kiwi family, while institutions provide pastoral care to help students feel happy and well-supported. </p>
        <p class="hidden-en">新西兰的寄宿家庭热情地欢迎国际生融入Kiwi家庭，同时政府以及相关机构还会为国际生提供支持和帮助，以保证国际上能在新西兰快乐地学习和生活。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a15-3.jpg'%>" alt="a14-1" class="welcomeimg">

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Personal Development </span>
            <span class="hidden-en">个人的发展</span>
        </div>
        <p class="hidden-ch">Studying in New Zealand is an opportunity for personal growth and development.</p>
        <p class="hidden-en">在新西兰锻炼自我、发展自我</p>
        <p class="hidden-ch">Gaining skills such as punctuality, time management and confidence help students to become successful and independent adults.</p>
        <p class="hidden-en">在这里，孩子将成长为一个守时、善于时间管理、充满自信的人才。</p>
        <p class="hidden-ch">Your son or daughter can experience another culture, have new adventures and make lifelong friendships in one of the world’s cleanest, most beautiful natural environments.</p>
        <p class="hidden-en">在这里，您的孩子将感受另一种文化、开展一段人生旅程、收获陪伴终身的友谊。</p>
    </div>
</div>

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Career Success </span>
            <span class="hidden-en">事业的成功</span>
        </div>
        <p class="hidden-ch">The New Zealand education system’s practical, hands-on learning style gives students a head start in the workforce.</p>
        <p class="hidden-en">新西兰的教育体制保证学生的实践能力的成长，为孩子的职业之路奠定坚实的基础。</p>
        <p class="hidden-ch">Graduates gain internationally-recognised qualifications and valuable personal skills such as the ability to think critically, communicate well and lead a team; a well-rounded combination valued by global employers.  </p>
        <p class="hidden-en">完成高等教育的学子将获得被国际认可的教育资历以及宝贵的个人技能，如辩证的思考能力、出色的沟通能力以及组织领导能力。而这些技能正是获得职业成功的道路。</p>
        <p class="hidden-ch">New Zealand universities and other institutions have a high graduate employment rate, and students may be able to work here after graduation.</p>
        <p class="hidden-en">在新西兰，大学生拥有极高的就业率。您和您的孩子还可以考虑就业新西兰。</p>
    </div>
</div>

<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Hear From Parents </span>
            <span class="hidden-en">来自父母的心声</span>
        </div>
        <p class="hidden-ch">Making new friendships, becoming part of a Kiwi family, learning to surf - students studying abroad have experiences they’ll remember forever. Read parents’ stories of their children’s adventures in New Zealand. </p>
        <p class="hidden-en">在新西兰，认识新的朋友、成为Kiwi家庭的一分子、学会冲浪…组成了孩子宝贵而又难忘的留学生活的一部分。 听一听父母关于孩子在新西兰学习生活的心声。</p>
    </div>
</div>

<ul>
    <li>
        <p class="hidden-ch">Real-world learning in New Zealand </p>
        <p class="hidden-en">一位来自中国的母亲，还原一个真实的新西兰。</p>
        <a src="https://youtu.be/z1226MwNKDw" target="_blank"><i class="icon-play"></i></a>
    </li>
    <li>
        <p class="hidden-ch">Meet a mother from Japan </p>
        <p class="hidden-en">来自日本的母亲，讲述她的儿子在新西兰学习的故事。</p>
        <a src="https://youtu.be/1WE9Ev1iFzs" target="_blank"><i class="icon-play"></i></a>
    </li>
    <li>
        <p class="hidden-ch">Meet a mother from Korea </p>
        <p class="hidden-en">来自韩国的妈妈，分享属于她的小孩的故事。</p>
        <a src="https://youtu.be/6bHdRW7jR1E" target="_blank"><i class="icon-play"></i></a>
    </li>
    <li>
        <p class="hidden-ch">Meet a mother from Vietnam </p>
        <p class="hidden-en">来自越南的母亲，讲述她的儿子在新西兰学习的故事。</p>
        <a src="https://youtu.be/Rjz5XRnwXuE" target="_blank"><i class="icon-play"></i></a>
    </li>
    <li>
        <p class="hidden-ch">Meet a father from Thailand </p>
        <p class="hidden-en">来自泰国的父亲，讲述他的小孩在新西兰学习的故事。</p>
        <a src="https://youtu.be/Z38L3ZKYdaM" target="_blank"><i class="icon-play"></i></a>
    </li>
    <li>
        <p class="hidden-ch">Gain independence with a New Zealand education</p>
        <p class="hidden-en">在新西兰的收获。</p>
        <a src="https://youtu.be/7DfL6yq4MAQ" target="_blank"><i class="icon-play"></i></a>
    </li>
</ul>
<%- include('./views/footer') %>
