<%- include('./views/header') %>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch ">Dunedin in NZ</span>
            <span class="hidden-en">新西兰之达尼丁</span>
        </div>
        <p class="hidden-ch">A leader in learning for 150 years, Dunedin is famous for its student culture and friendliness. </p>
        <p class="hidden-en">达尼丁有长达150年的教育历史，并以其学生文化和友好而闻名。</p>
        <p class="hidden-ch">Dunedin is a compact, student city, which offers unique learning experiences-inside and outside the classroom. </p>
        <p class="hidden-en">达尼丁是一个精致的学生城市，在这里，无论是课堂内还是课堂外，您的孩子将感受到独一无二的学习体验。</p>
        <p class="hidden-ch">From world-class higher degrees, to improving your English language, our safe and welcoming community makes Dunedin the perfect city for students. </p>
        <p class="hidden-en">从提升英语能力到获取世界级的高学历，达尼丁安全且友善的城市氛围将是您孩子留学的最佳选择。</p>
        <p class="hidden-ch">Being educated in Dunedin will produce a well-round Global Citizen ready to succeed in any environment. </p>
        <p class="hidden-en">在达尼丁，您的孩子将成长成一位在任何环境都能出彩的全球化人才。</p>
    </div>
</div>
<div class="content-panel" style="background-color: #eee;">
    <div>
        <div class="h3">
            <span class="hidden-ch">Come share the advernture with us in Dunedin!</span>
            <span class="hidden-en">开启达尼丁人生旅程</span>
        </div>
        <p>一座美丽的半山半海的城市；</p>
        <p>一座洋溢着友好和热情的城市；</p>
        <p>一座饱含着历史底蕴的城市；</p>
        <p>一座充满着教育氛围的城市；</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a12-1.jpg'%>" alt="a12-1" class="welcomeimg">
<div class="content-panel" style="background-color: #eee;">
    <div>
        <div class="h3">
            <span class="hidden-ch">Population</span>
            <span class="hidden-en">人口</span>
        </div>
        <p class="hidden-ch">120,000 and 25,000 of those are students. </p>
        <p class="hidden-en">达尼丁总人口数为12万，其中25,000是学生。</p>
    </div>
</div>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Be amongst friends</span>
            <span class="hidden-en">建立友谊</span>
        </div>
        <p class="hidden-ch">Dunedin has the youngest population in New Zealand with 45% of residents under 30.</p>
        <p class="hidden-en">达尼丁是全新西兰最年轻的地方，超过45％的人口小于30岁。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a12-2.jpg'%>" alt="a12-2" class="welcomeimg">
<div class="content-panel" style="background-color: #eee;">
    <div>
        <div class="h3">
            <div class="hidden-ch">We love it here</div>
            <div class="hidden-en">爱上达尼丁</div>
        </div>
        <p class="hidden-ch">84% of people here rate their quality of life as good or extremely good. </p>
        <p class="hidden-en">84%居住在达尼丁的人认为自己的生活质量很高或称之为卓越的生活质量。</p>
    </div>
</div>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch">Learn from the brightest</span>
            <span class="hidden-en">智慧之城</span>
        </div>
        <p class="hidden-ch">Dunedin has New Zealand's highest concentration of postgraduate qualifications - over 36% of people here have higher learning. </p>
        <p class="hidden-en">达尼丁拥有新西兰最多的研究生、博士供读者。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a12-3.jpg'%>" alt="a12-3" class="welcomeimg">
<div class="content-panel" style="background-color: #eee;">
    <div class="h3">
        <div class="hidden-ch">The beauty and heritage of Dunedin</div>
        <div class="hidden-en">大自然与历史的馈赠</div>
    </div>
</div>
<div class="content-panel">
    <div>
        独特的野生动物资源（珍稀企鹅、信天翁等）；
        临近新西兰旅游名片（皇后镇、冰川等）。
        长达150年的教育路程，处于世界前列
        苏格兰以外最像苏格兰的地方；
        保存完好的历史建筑与街头文化相得益彰；
        毛利文化被保护和宣扬。
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a12-4.jpg'%>" alt="a12-4" class="welcomeimg">

<div class="content-panel" style="background-color: #eee;">
    <div class="h3">
        <div class="hidden-ch">Open a new world</div>
        <div class="hidden-en">为您的孩子开启新的世界之窗</div>
    </div>
</div>
<div class="content-panel">
    <div>
        在学术成绩、个人发展均是新西兰佼佼者的中学校聚集在此
        友好而安全，是城市的标志，随处可以步行上下学学的学生
        丰富多样的户外活动，应有尽有：冲浪、帆船、橄榄球、板球、高尔夫球、骑马、登山 ，等等。
    </div>
</div>
<%- include('./views/footer') %>
