<%- include('./views/header') %>
<div class="content-panel">
    <div class="h3">
        <div class="hidden-ch">Why Choose New Zealand？</div>
        <div class="hidden-en">为什么选择新西兰？</div>
        <div class="hidden-ch">A world-class education and an unforgettable adventure!</div>
        <div class="hidden-en">世界一流的教育，以及一次永生难忘的旅程！</div>
    </div>
</div>
<div class="gs-sin">
    <div class="row">
        <div class="col-xs-12">
            <div class="slicker" data-slicker data-responsive="false">
                <ul>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a1-7.jpg'%>" alt="a1-7"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a1-8.jpg'%>" alt="a1-8"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a1-9.jpg'%>" alt="a1-9"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Living in NZ</span>
                <span class="hidden-en">生活在新西兰</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-1.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Safe and welcoming, New Zealand is ranked the second most peaceful nation on Earth.</div>
                <div class="hidden-en">安全且好客的新西兰，被评定为世界上第二和平的国家。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Education System</span>
                <span class="hidden-en">新西兰教育体系</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-2.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">The New Zealand education system is about hands on learning.</div>
                <div class="hidden-en">新西兰的教育精髓在与教会学生如何学习。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Information for Parents</span>
                <span class="hidden-en">父母指南</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-3.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">A guide for parents who are considering New Zealand as a study destination for their child.</div>
                <div class="hidden-en">一份关于考虑是否将您的孩子送往新西兰游学、留学的指南。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>
<div class="content-panel" style="background-color: #eee;">
    <div class="h3">
        <div class="hidden-ch">New Zealand is one of the world’s best places to live and study.</div>
        <div class="hidden-en">新西兰是全世界最宜生活、学习的国家之一。</div>
    </div>
</div>
<div class="gs-fixed">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Quality Standards</span>
                <span class="hidden-en">教育质量</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-4.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Safe and welcoming, New Zealand is ranked the second most peaceful nation on Earth.</div>
                <div class="hidden-en">安全且好客的新西兰，被评定为世界上第二和平的国家。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Dunedin in NZ</span>
                <span class="hidden-en">新西兰之达尼丁</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-5.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Safe and welcoming, New Zealand is ranked the second most peaceful nation on Earth.</div>
                <div class="hidden-en">安全且好客的新西兰，被评定为世界上第二和平的国家。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Work Ready</span>
                <span class="hidden-en">工作在新西兰</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a1-6.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Safe and welcoming, New Zealand is ranked the second most peaceful nation on Earth.</div>
                <div class="hidden-en">安全且好客的新西兰，被评定为世界上第二和平的国家。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>
<%- include('./views/footer') %>
