<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="h3">
                <div class="hidden-ch">Accommodation</div>
                <div class="hidden-en">新西兰的住宿</div>
            </div>
            <div class="hidden-ch">New student always feel at home here.</div>
            <div class="hidden-en">在新西兰，给予孩子家一般的感觉。</div>
            <div class="hidden-ch">You’ll need somewhere to live while you study, and there are plenty of options available. From apartments in the city to homestays in the countryside, you’ll find something that suits you and your lifestyle.</div>
            <div class="hidden-en">在新西兰，您的孩子将有多种住宿选择</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a41-1.jpg'%>" alt="a41-1" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <div class="hidden-ch">Halls of Residence (or hostels) </div>
                <div class="hidden-en">大学宿舍</div>
            </div>
            <div class="hidden-ch">Usually just a walk away from campus, halls of residence offer fully furnished single or twin-share rooms with a shared dining hall, lounge and laundry. Meals are often included and you’ll find a lively programme of social activities. A number
                of the larger institutions also provide private hostels that run in a similar way, and some have self-contained apartments (which we call ‘flats’). </div>
            <div class="hidden-en">大学宿舍常常毗邻大学校园，宿舍里通常安排单人床或者上下铺。宿舍家具齐全且与其它学生共同使用饭厅、客厅和洗衣区域。一般宿舍还提供三餐，并安排丰富有趣的社交活动。一些比较大型的教育机构还提供独立宿舍，类似于中国的“酒店公寓”管理方式。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a41-2.jpg'%>" alt="a41-2" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">
                <div class="hidden-ch">Homestay (or private board) </div>
                <div class="hidden-en">寄宿家庭</div>
            </div>
            <div class="hidden-ch">With a homestay you live with a New Zealand family in their home, usually in a fully furnished room of your own. They’ll provide you with meals and help you to settle in to day-to-day life in New Zealand. A homestay is a great way to get to
                know some friendly New Zealanders, develop your English skills and get a close-up look at New Zealand’s way of life and culture.</div>
            <div class="hidden-en">选择寄宿家庭意味着您的孩子将会被安排到新西兰当地居民家庭中，通常寄宿家庭会为孩子提供一间独立的且家具齐全的房间。寄宿家庭不仅会为孩子准备餐食，还会在生活的方方面面帮助孩子，以适应在新西兰的生活。寄宿家庭是一个结识友好新西兰人、锻炼孩子英语会话能力以及融入新西兰当文化的一个良好选择。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a41-3.jpg'%>" alt="a41-3" class="welcomeimg">

    <div class="content-panel">
        <div>
            <div class="h3">

                <div class="hidden-ch">Flatting/Independent Accommodation </div>
                <div class="hidden-en">租房</div>
            </div>
            <img src="<%= url + 'dist/src/demo1/src/a41-4.png'%>" alt="a41-4" style="float: left; height: 70px;">
            <div class="hidden-ch">Flats range from one-bedroom apartments to four or five bedroom homes, and can be found just about anywhere – close to cities and campuses or further out in the surrounding suburbs, where you’re more likely to find gardens and car-parking
                space. </div>
            <div class="hidden-en">在新西兰，租房可选择单间公寓、或去他人合租。在租房前或许并不需要找到合租人，而是走进一座房子，与室友成为新的朋友。</div>
            <div class="hidden-ch">Most flats include basic equipment such as an oven, dishwasher, washing machine and clothes dryer. You and your flatmates will share the cost of rent and usually the phone and energy bills. </div>
            <div class="hidden-en">大多数的合租房配有基本的家具，如厨房用具、家电等，但或许需要自己准备卧室家具。除了房租以外，也许需要与你的室友分摊其它费用，如电费、网络、电话等。</div>
            <div class="hidden-ch">Accommodation Cost </div>
            <div class="hidden-ch">The cost of accommodation will vary depending on how you want to live. The national median rent for a three bedroom house was NZ$340 per week in March 2013, just over NZ$110 a room per week.</div>
            <div class="hidden-en">在新西兰的住宿成本取决与住宿方式的选取。在2013年的调查中，一座三间房间的房子房租平均价格在340新西兰元每周，也就是约110新西兰元一间房间。</div>
        </div>
    </div>

    <%- include('./views/footer') %>