<%- include('./views/header') %>
<div class="content-panel">
    <div class="h3">
        <div class="hidden-ch">Living in NZ</div>
        <div class="hidden-en">探索新西兰</div>
        <div class="hidden-ch">Study and live in New Zealand, and your child will gain a world-class education, work skills and the experience of a lifetime.</div>
        <div class="hidden-en">学习、生活在新西兰，您的孩子将接受世界级的教育、获得一流的工作技能，并收获受用一生的人生经验。</div>
    </div>
</div>
<div class="gs-sin">
    <div class="row">
        <div class="col-xs-12">
            <div class="slicker" data-slicker data-responsive="false">
                <ul>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a4-4.jpg'%>" alt="a4-4"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a4-5.jpg'%>" alt="a4-5"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a4-6.jpg'%>" alt="a4-6"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Living in NZ</span>
                <span class="hidden-en">生活在新西兰</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a4-1.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Support students to gain the skills and qualification to help them succeed anywhere in the world.</div>
                <div class="hidden-en">新西兰的初高中的秉承的教育理念让孩子无论从学习成绩还是个人能力上，卓越出众，更是一把为您的孩子打开世界名校的钥匙。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Accommodation</span>
                <span class="hidden-en">新西兰的住宿</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a4-2.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">.......</div>
                <div class="hidden-en">.......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Cost of living</span>
                <span class="hidden-en">生活成本</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a4-3.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">New Zealand is a value-for-money study destination.</div>
                <div class="hidden-en">新西兰绝对是一个物有所值的学习目的地。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>

</div>
<%- include('./views/footer') %>
