<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Work Ready</span>
                <span class="hidden-en">事业规划</span>
            </div>
            <p class="hidden-ch">A New Zealand education can give you the qualifications and skills to excel anywhere in the world in your chosen career.</p>
            <p class="hidden-en">新西兰的教育将让您的孩子胜任与全球任意地方的职业发展道路。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a17-1.jpg'%>" alt="a17-1" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">A World-class Education</span>
                <span class="hidden-en">世界一流的教育水准</span>
            </div>
            <p class="hidden-ch">Employers around the world welcome graduates of our education system because of their strong academic qualifications, practical skills and ability to think critically and creatively.</p>
            <p class="hidden-en">全球的招聘者亲睐新西兰教育体系，源自我们强大的学术成绩、实践表现以及给予学生辩证创造性的思维</p>
            <p class="hidden-ch">From the moment they graduate, our graduates are ready to take their place in the global jobs marketplace. </p>
            <p class="hidden-en">新西兰学子从毕业的那一刻，就做好了征服全球职业市场的准备。</p>
            <p class="hidden-ch">The New Zealand education system is government regulated and has strong quality assurance systems. </p>
            <p class="hidden-en">新西兰的教育体系受到政府的严格监管且拥有强大的质量保障体系。</p>
            <p class="hidden-ch">You can be certain of gaining a high-quality education that will improve your job prospects on the global marketplace. </p>
            <p class="hidden-en">有了新西兰教育体系的支撑，您的孩子一定可以在属于自己的职业前景中找到一片天地。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a17-2.jpg'%>" alt="a17-2" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">International Ranking</span>
                <span class="hidden-en">世界排名</span>
            </div>
            <p class="hidden-ch">New Zealand’s higher education system is internationally ranked. All eight of New Zealand’s universities feature in the top three percent in the world, according to the 2016 QS World University Rankings. </p>
            <p class="hidden-en">新西兰的高等教育享誉全球。截止2016年，新西兰的所有大学均排名在全球大学排名前3%。</p>
            <p class="hidden-ch">We’re the only country in the world to have all of our universities in the global top 500.</p>
            <p class="hidden-en">新西兰是世界上唯一一个国家，每一所大学的排名均位于全球前500。</p>
            <p class="hidden-ch">Our universities are all in the top 100 in at least one subject. They rank in the world’s top 50 universities in 21 subjects and in the world’s top 100 in 68 subjects. </p>
            <p class="hidden-en">新西兰的每一所大学，至少有一门专业排名全世界前100。排名全世界前50的专业有21个，排名全世界前100的专业有68个。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a17-3.jpg'%>" alt="a17-3" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Global Qualification </span>
                <span class="hidden-en">全球认证</span>
            </div>
            <p class="hidden-ch">A New Zealand qualification is a valuable asset that can give you a head start in the international job market.</p>
            <p class="hidden-en">新西兰的教育资历为您的孩子的职业未来奠定了坚实的基础</p>
            <p class="hidden-ch">New Zealand is a member of the Lisbon Recognition Convention, which means our certificates, diplomas and degrees are recognised in 50 participating countries. These include the United States, the United Kingdom, France, Germany, Italy and
                Australia. Bachelor degrees are widely recognised on the job market by employers, and for enrolment in postgraduate programmes.</p>
            <p class="hidden-en">新西兰是里斯本资格认可公约签署国的成员之一。这意味着，新西兰的教育资历得到所有合约签署国的认可，其中包括欧盟、美国、澳大利亚、加拿大、俄罗斯以及以色列。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a17-4.jpg'%>" alt="a17-4" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h3">
                <span class="hidden-ch">Employability Skills</span>
                <span class="hidden-en">工作技能</span>
            </div>
            <p class="hidden-ch">New Zealand’s teaching style and practical, hands-on way of learning gives graduates strong employability skills — attributes valued by employers across a wide range of jobs and careers. </p>
            <p class="hidden-en">新西兰的教育风格注重实践，且看重启发学生，这样的教育方式给予新西兰学子扎实的职业技能，而这正是招聘者所看重和寻找的对象。</p>
            <p class="hidden-ch">These highly transferable skills include flexibility, creativity, teamwork, problem-solving, decision-making, leadership, organisational skills and a self-motivated ‘can-do’ attitude. Graduates also gain workplace-relevant English language
                abilities and learn to be effective in multicultural and Western work environments. </p>
            <p class="hidden-en">这些珍贵的职业技能包括：灵活性、创造性、团队协作、解决问题、决策、领导能力、组织能力以及自我激励的积极心态。您的孩子还将在这里充分掌握工作场所的英文沟通技能，帮助他们在多文化或西方工作环境下胜任职场。</p>
        </div>
    </div>
    <%- include('./views/footer') %>