<%- include('./views/header') %>
<div class="content-panel">
    <div class="h3">
        <div class="hidden-ch">Contact Us</div>
        <div class="hidden-en">联系我们</div>
        <div class="hidden-ch">Dream Chaser Ltd is based in Dunedin of New Zealand and we have offices located in different cities in China</div>
        <div class="hidden-en">“逐梦者”是一家新西兰公司，且在中国各地设有办事处或联合办事处，以便您与我们取得联系。</div>
    </div>
</div>
<div class="gs-sin">
    <div class="row">
        <div class="col-xs-12">
            <div class="slicker" data-slicker data-responsive="false">
                <ul>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a5-1.jpg'%>" alt="a5-1"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a5-2.jpg'%>" alt="a5-2"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a5-3.jpg'%>" alt="a5-3"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a5-4.jpg'%>" alt="a5-4"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Shanghai</span>
                <span class="hidden-en">上海办事处</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a5-1.jpg'%>" alt="a5-1.jpg">
            <div>
                <div class="hidden-ch">......</div>
                <div class="hidden-en">......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Jiangxi</span>
                <span class="hidden-en">江西办事处</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a5-2.jpg'%>" alt="a5-2.jpg">
            <div>
                <div class="hidden-ch">......</div>
                <div class="hidden-en">......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Tianjing</span>
                <span class="hidden-en">津办事处</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a5-3.jpg'%>" alt="a5-3.jpg">
            <div>
                <div class="hidden-ch">.......</div>
                <div class="hidden-en">.......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>
<div class="content-panel">
    <div>
    <div class="hidden-ch">
        You also can contact our staff in New Zealand by email or video call.
    </div>
    <div class="hidden-en">您还可以通过邮件以及视频电话的方式，联系我们新西兰的工作人员。</div>
        <div><span class="hidden-en">邮件</span><span class="hidden-ch">Email</span>：liuam333@student.otago.ac.nz</div>
        <div><span class="hidden-en">电话</span><span class="hidden-ch">Phone</span>：（＋64） 021 106 7151</div>
    </div>
</div>
<%- include('./views/footer') %>
