<%- include('./views/header') %>
<div class="content-panel">
    <div>
        <div class="h3">
            <div class="hidden-ch">Student Stories</div>
            <div class="hidden-en">学生故事</div>
        </div>
        <div class="hidden-ch">No matter having a study tour or studying abroad here, it is an opportunity to have a world-class education, enjoy an unbeatable lifestyle and develop important life skills.</div>
        <div class="hidden-en">无论是游学新西兰还是留学新西兰。都将是您小孩一次感受世界级教育水准、享受无与伦比的生活方式以及培养重要生活技能的机会。</div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Elly From China </span>
                <span class="hidden-en">Elly来自中国</span>
            </div>
            <a href="https://www.youtube.com/embed/fPAoy3THUD4?list=PLTrOljlt-RlOTPJRCg2AgVav7KKp4Ub0s" target="_blank"><img src="<%=url+'dist/src/demo1/src/a1-1.jpg'%>" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Haruki From Japan</span>
                <span class="hidden-en">Haruki来至日本</span>
            </div>
            <a href="https://www.youtube.com/embed/0tzocqPMqv4?list=PLTrOljlt-RlOTPJRCg2AgVav7KKp4Ub0s" target="_blank"><img src="<%=url+'dist/src/demo1/src/a1-1.jpg'%>" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Matheus  From Brazil</span>
                <span class="hidden-en">Matheus来至巴西</span>
            </div>
            <a href="https://www.youtube.com/embed/vUeXeCBsC3A?list=PLTrOljlt-RlOTPJRCg2AgVav7KKp4Ub0s" target="_blank"><img src="<%=url+'dist/src/demo1/src/a1-1.jpg'%>" alt=""></a>
        </div>
    </div>
</div>
<%- include('./views/footer') %>
