<%- include('./views/header') %>
<div class="content-panel">
    <div>
        <div class="h3">
            <span class="hidden-ch ">Education System</span>
            <span class="hidden-en">新西兰教育体系</span>
        </div>
        <p class="hidden-ch">Students in New Zealand are supported to solve problems, process information, work with others, create and innovate. Whichever level you’re studying at New Zealand can give you a high-quality education that will enable you to achieve your goals.</p>
        <p class="hidden-en">新西兰的教育重在培养学生解决问题、处理信息、团队协作以及创作革新的能力。在新西兰，每一环节的教育都将竭力为您的小孩提供高质量的教育，帮助孩子实现人生理想。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a14-1.jpg'%>" alt="a14-1" class="welcomeimg">
<div class="content-panel" >
    <div>
        <div class="h3">
            <span class="hidden-ch">Early Childhood (Age 0-5)</span>
            <span class="hidden-en">早教（0-5岁)</span>
        </div>
        <p class="hidden-ch">Early childhood education provides education and care for children before they are old enough to go to school.</p>
        <p class="hidden-en">早教旨在为学龄前儿童提供教育和照顾。</p>
        <p class="hidden-ch">New Zealand has more than 4000 licensed early childhood education services available, including kindergartens, childcare centres, play centres, home-based care and playgroups.</p>
        <p class="hidden-en">新西兰全国有超过4000家的持有政府办法执照的早教机构，包括幼儿园、育儿中心、游乐中心、住家照料以及游乐场。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a14-2.jpg'%>" alt="a14-2" class="welcomeimg">
<div class="content-panel" >
    <div>
        <div class="h3">
            <span class="hidden-ch">Primary School (Age 5-10)</span>
            <span class="hidden-en">小学 （5-10岁）</span>
        </div>
        <p class="hidden-ch">Primary school students study subjects guided by New Zealand National Curriculum: English, the arts, health and physical education, languages, mathematics and statistics, science, social sciences and technology.</p>
        <p class="hidden-en">新西兰的小学课程纲要由新西兰国会制定，主要课程包括：英语、艺术、健康与体育、语言、数学和统计、科学、社会科学和技术。</p>
        <p class="hidden-ch">Students’ abilities in reading, writing and maths are regularly assessed against expectations for their age level, as set out by New Zealand’s National Standards.</p>
        <p class="hidden-en">新西兰小学生的阅读、协作能力以及数学水平会根据其年龄做常规评估，以保证孩子能力的健康发展。该评估由新西兰国会制定。</p>
        <p>
            National Standards 关于评估标准，可参考<a href="nzcurriculum.tki.org.nz/National-Standards">官方网站</a>
        </p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a14-3.jpg'%>" alt="a14-3" class="welcomeimg">
<div class="content-panel" >
    <div>
        <div class="h3">
            <span class="hidden-ch">Intermediate School (Age 11-12)</span>
            <span class="hidden-en">初中（11-12岁)</span>
        </div>
        <p class="hidden-ch">Intermediate schools are a bridge between primary school and secondary school.</p>
        <p class="hidden-en">新西兰的初中是链接小学和中学的桥梁。</p>
        <p class="hidden-ch">Primary education starts at Year 1 and continues through to Year 8. Years 7 and 8 are offered either at a primary school or at a separate intermediate school.</p>
        <p class="hidden-en">新西兰的初等教育起始于小学1年级，一直到8年级。其中7、8年级可在就读于小学学校，也可就读于独立的初中学校。</p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a14-4.jpg'%>" alt="a14-4" class="welcomeimg">
<div class="content-panel" >
    <div>
        <div class="h3">
            <span class="hidden-ch">Secondary School (Age 13-18)</span>
            <span class="hidden-en">中学（13-18岁）</span>
        </div>
        <p class="hidden-ch">New Zealand has three types of school:</p>
        <p class="hidden-ch">•    state schools, where 85% of Kiwi children go</p>
        <p class="hidden-ch">•    state-integrated schools, which may be run by a religious faith or use specialist teaching methods</p>
        <p class="hidden-ch">•    private schools.</p>
        <p class="hidden-en">新西兰共有三种类别的中学：</p>
        <p class="hidden-en">•    国立学校：85%的新西兰选择就读国立中学</p>
        <p class="hidden-en">•    国立－私立联办学校：主要是教会学校或者特殊教育学校</p>
        <p class="hidden-en">•    私立学校</p>
        <p class="hidden-ch">Students at secondary schools - also known as high schools or colleges - work towards the National Certificate of Educational Achievement (NCEA). Secondary schools also offer some vocational subjects, such as tourism and computing.</p>
        <p class="hidden-en">新西兰中学生在学校的学习受NCEA规范。同时，中学也提供一些职业课程，例如旅游、电脑等。</p>
        <p class="hidden-ch">Some schools also offer Cambridge International Examinations and International Baccalaureate programmes.</p>
        <p class="hidden-en">一些学校还提供剑桥考试体系课程或者IB课程（美国大学考试体系），以供学生毕业后申请英国、美国名牌大学。</p>
        <p class="hidden-ch">How NCEA works</p>
        <p>
            关于NCEA的更多信息，请参考<a href="www.nzqa.govt.nz/qualifications-standards/qualifications/ncea/understanding-ncea/how-ncea-works/">官方网站</a>
        </p>
    </div>
</div>
<img src="<%= url + 'dist/src/demo1/src/a14-5.jpg'%>" alt="a14-5" class="welcomeimg">
<div class="content-panel" >
    <div>
        <div class="h3">
            <span class="hidden-ch">Tertiary Education</span>
            <span class="hidden-en">高等教育</span>
        </div>
        <p class="hidden-ch">New Zealand has eight state-funded universities, 16 Institutes of Technology and Polytechnics (ITPs) and about 550 Private Training Establishments (PTEs), which include English language schools.</p>
        <p class="hidden-en">新西兰共有8所国立大学，16所技能培训院校（ITPs）以及约550家私人技能培训机构（PTEs），其中包括英语培训机构。</p>
        <p class="hidden-ch">Choose the type of institution that’s best for your career path:</p>
        <p class="hidden-ch">•    Universities offer higher degree-level education. Programmes are research-led and generally academic rather than vocational. In the 2015/16 QS World University Rankings, all eight of New Zealand’s universities were in the top 100 in at least one subject.</p>
        <p class="hidden-ch">•    ITPs and a few larger PTEs offer vocational degree-level education.</p>
        <p class="hidden-ch">•    PTEs tend to offer specific vocational programmes, mainly at certificate and diploma level.</p>
        <p class="hidden-en">选择最适合您孩子未来和职业规划的高等教育机构：</p>
        <p class="hidden-en">•    大学提供更高级别的学位教育，以学术、研究为导向。在2015/2016的世界大学排名总，新西兰每一所大学至少有一门专门位列世界前100。</p>
        <p class="hidden-en">•    IPTs以及少数PTEs提供职业性的学位教育。</p>
        <p class="hidden-en">•    PTEs主要提供认证、学历级别的技能培训。</p>
    </div>
</div>

<%- include('./views/footer') %>
