<%- include('./views/header') %>

    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">Why to Have A Study Tour</span>
                <span class="hidden-en">为什么选择游学</span>
            </div>
        </div>
    </div>
    <div class="content-panel" style="background:#f4f5f4;">
        <div>
            <p class="hidden-ch">A new way to spend school holiday.</p>
            <p class="hidden-en">为您的孩子选择一个不一样的假期，这将是我们精心为他们准备的一场受益终身的文化之旅。</p>
            <p class="hidden-en">将孩子安排在一个安全的环境下度过假期？</p>
            <p class="hidden-en">还是想和孩子共同创造一次有意义的假期？</p>
            <p class="hidden-en">想要学习和玩乐两不误？</p>
            <p class="hidden-en">怎样扩展孩子的国际视野？</p>
            <p class="hidden-en">怎样让孩子更加出类拔萃？</p>
            <p class="hidden-en">考虑孩子留学问题？</p>
            <p class="hidden-en">所有的答案，都在“逐梦者”游学中。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a21-1.jpg'%>" alt="a21-1" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">The core value </span>
                <span class="hidden-en">“逐梦者”游学项目的核心价值</span>
            </div>
            <p class="hidden-ch">• Improve English lauguage skill</p>
            <p class="hidden-en">• 提升英语能力</p>
            <p class="hidden-ch">• Gian valuable life skill</p>
            <p class="hidden-en">• 锻炼孩子自我素养</p>
            <p class="hidden-ch">• Introduce to elite shcool</p>
            <p class="hidden-en">• 直升名校高中</p>
            <p class="hidden-ch">• Lead the way to top universities in the world</p>
            <p class="hidden-en">• 路通全球名牌大学</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a21-2.jpg'%>" alt="a21-2" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">The features</span>
                <span class="hidden-en">“逐梦者”游学项目的特色</span>
                <span class="hidden-ch">Focus on education</span>
                <span class="hidden-en">教育是核心</span>
            </div>
            <p class="hidden-ch">• A new way to study;</p>
            <p class="hidden-en">• 新西兰的中小学,寓教于乐,充满活力;</p>
            <p class="hidden-ch">• Experience Western education;</p>
            <p class="hidden-en">• 精小而开放的教育模式,别开生面的文化之旅;</p>
            <p class="hidden-ch">• More than study in classroom;</p>
            <p class="hidden-en">• 立足与教育,却不受限于“读书”,课堂外的生活同样精彩;</p>
            <p class="hidden-ch">• Explore Western culture</p>
            <p class="hidden-en">• 拉开的是一场西方文化的盛宴。</p>
        </div>
    </div>
    <div class="content-panel" style="background:#f4faf4;">
        <div>
            <div class="h2">
                <span class="hidden-ch">Add tourism activoty</span>
                <span class="hidden-en">旅游是辅助</span>
            </div>
            <p class="hidden-ch">• Not a tourism package;</p>
            <p class="hidden-en">• 区别于传统的披着“游学”皮囊的打包旅游;</p>
            <p class="hidden-ch">• Enjoy the beauty of New Zealand;</p>
            <p class="hidden-en">• 丝毫不浪费新西兰得天独厚的大自然的馈赠;</p>
            <p class="hidden-ch">• Play as a local;</p>
            <p class="hidden-en">• 当地人怎么玩,我们就怎么玩,是旅行,更是文化的碰撞。</p>
        </div>
    </div>
    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">Accurancy</span>
                <span class="hidden-en">精准的投放</span>
            </div>
            <p class="hidden-ch">• Distribute to different schools;</p>
            <p class="hidden-en">• 将孩子分散到不同的当地学校,数量小而精, 杜绝了国内小孩抱团的现象;</p>
            <p class="hidden-ch">• One-on-one homestay;</p>
            <p class="hidden-en">• 一对一式的寄宿方式,将孩子精准放置在西方文化中;</p>
        </div>
    </div>
    <div class="content-panel" style="background:#f4faf4;">
        <div>
            <div class="h2">
                <span class="hidden-ch">Repeatable</span>
                <span class="hidden-en">可重复性</span>
            </div>
            <p class="hidden-ch">• The study tour is repeatable;</p>
            <p class="hidden-en">• 在游学的重复过程中,实现提升语言能力、破冰文化差异、锻炼自身能力、结识当地朋友、以及与当地学校建立密切联系等;</p>
            <p class="hidden-ch">• Build up a solid foundation;</p>
            <p class="hidden-en">• 为将来可能的留学生活奠定坚实而稳固的基础。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a21-3.jpg'%>" alt="a21-3" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">Family demand in oriental culture</span>
                <span class="hidden-en">东方教育环境下的家庭需求</span>
                <span class="hidden-en">Challenges</span>
                <span class="hidden-ch">东方家庭面对的挑战</span>
            </div>
            <p class="hidden-ch">The fierce social competition;</p>
            <p class="hidden-en">越发激烈的社会竞争;</p>
            <p class="hidden-ch">Chase for high quality lifestyle;</p>
            <p class="hidden-en">对高质量生活的追求和渴望;</p>
            <p class="hidden-ch">The problem of polluted air;</p>
            <p class="hidden-en">空气质量成了严重的困扰;</p>
            <p class="hidden-ch">Adolescent Internet addiction issue;</p>
            <p class="hidden-en">青少年网瘾问题层出不穷。</p>
            <p class="hidden-en">*到2020年,中国预计3-8岁的人口数量将从2015年的9440万增长到1亿230万。到2030年,预计9-12岁的人口数量将从2015年的6230万增长到7020万。</p>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a21-4.jpg'%>" alt="a21-4" class="welcomeimg">
    <div class="content-panel">
        <div>
            <div class="h2">
                <span class="hidden-ch">The reality of studying abroad</span>
                <span class="hidden-en">海外留学生的真实生活</span>
                <span class="hidden-ch">Challenges</span>
                <span class="hidden-en">留学生面临的挑战：</span>
            </div>
            <p class="hidden-ch">Language barriers and culture shock;</p>
            <p class="hidden-en">语言障碍、文化壁垒;</p>
            <p class="hidden-ch">Homesickness;</p>
            <p class="hidden-en">无处安放的思乡情绪;</p>
            <p class="hidden-ch">Too young to handle life overseas;</p>
            <p class="hidden-en">留学低龄化的趋势;</p>
            <p class="hidden-ch">Confusion on the future;</p>
            <p class="hidden-en">对未来的怀疑和迷茫。</p>
        </div>
    </div>
    <div class="content-panel" style="background:#f4faf4;">
        <div>
            <div class="h2">
                <span>“逐梦者”游学项目扮演的角色</span>
            </div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a21-5.jpg'%>" alt="a21-5" class="welcomeimg">
    <%- include('./views/footer') %>