<%- include('./views/header') %>
    <div class="content-panel">
        <div>
            <div class="h3 img-title">
                <div class="hidden-ch">Universities</div>
                <div class="hidden-en">新西兰大学</div>
            </div>
            <div class="hidden-ch">New Zealand universities are ranked in the top 3% in the world.</div>
            <div class="hidden-ch">Leading the way through academic excellence, individual thought and global connections.</div>
            <div class="hidden-en">新西兰的所有大学均位于全球前3%，在学术表现、个人发展和链接全球上始终处于全球领先地位。</div>
        </div>
    </div>

    <div class="content-panel" style="background-color: #f4f5f4;">
        <div>
            <div class="h3">
                <div class="hidden-ch">Quality and Ranks</div>
                <div class="hidden-en">质量与排名</div>
            </div>
            <div class="hidden-ch">•All New Zealand universities are ranked amongst the world’s best by QS World University Rankings. </div>
            <div class="hidden-en">•新西兰所有大学均排名于QS世界大学排行榜前列，是世界上最好的大学。</div>
            <div class="hidden-ch">•Our universities rank in the world’s top 100 in 39 subjects in the 2017 QS World University Rankings. </div>
            <div class="hidden-en">•在2017的QS世界大学排名中，新西兰的大学拥有39个世界前100的专业。</div>
            <div class="hidden-ch">•The OECD 2013 Better Life Index rates NZ as a "top performing country" for the quality of its education system. </div>
            <div class="hidden-en">•在2013的OECD生活幸福指数中，新西兰被点名为顶尖表现国家。</div>
        </div>
    </div>
    <img src="<%= url + 'dist/src/demo1/src/a33-1.jpg'%>" alt="a33-1" class="welcomeimg">

    <div class="flex-gs-fixed">

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-2.png'%>" alt="a33-2">
                        <div class="hidden-ch">Qualification to Take You Further</div>
                        <div class="hidden-en">学历的含金量</div>
                    </div>
                    <div class="hidden-ch">Highly sought after qualifications</div>
                    <div class="hidden-en">备受追捧的认证</div>
                    <div class="hidden-ch">The qualifications you’ll gain in New Zealand are highly regarded and sought-after by employers and other educational institutions around the world.</div>
                    <div class="hidden-en">在新西兰获得的职业认证受到招聘者的追捧以及全球教育机构的认可。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-3.png'%>" alt="a33-3">
                        <div class="hidden-ch">Gain the skills that will open doors</div>
                        <div class="hidden-en">收获宝贵的技能</div>
                    </div>
                    <div class="hidden-ch">When you study in New Zealand, you learn beyond your subject. You’ll become a confident, critical and creative thinker. These skills are highly prized by employers worldwide.</div>
                    <div class="hidden-en">在新西兰的学习，您的孩子的收获将远远超过书本课业。他们还将变成自信、拥有辩证思维、充满创造力的思考者，而这些能力在全球的招聘者眼里及其珍贵。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-4.png'%>" alt="a33-4">
                        <div class="hidden-ch">Global recognition</div>
                        <div class="hidden-en">全球认证</div>
                    </div>
                    <div class="hidden-ch">As a member of the Lisbon Qualification Recognition Convention, New Zealand qualifications are recognised in over 50 countries.</div>
                    <div class="hidden-en">新西兰是里斯本资格认可公约的成员之一，我们的学历、技能认证被超过50个国家认可。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-5.png'%>" alt="a33-5">
                        <div class="hidden-ch">Pathway to Employment</div>
                        <div class="hidden-en">助力职业未来</div>
                        <div class="hidden-ch">Get ahead of the competition</div>
                        <div class="hidden-en">在竞争中拔得头筹</div>
                    </div>
                    <div class="hidden-ch">New Zealand bachelor degrees listed on the New Zealand Qualifications Framework are widely recognised in the international job market and for postgraduate study.</div>
                    <div class="hidden-en">新西兰的本科学历受到全球招聘者和研究生学习机构的认可。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-6.png'%>" alt="a33-6">
                        <div class="hidden-ch">When you graduate, you’ll be very employable</div>
                        <div class="hidden-en">毕业之时正是职业开端之时</div>
                    </div>
                    <div class="hidden-ch">New Zealand education focuses on real-world skills, ensuring you’re ready to work anywhere when you graduate. You can also further your research in New Zealand.</div>
                    <div class="hidden-en">新西兰的教育注重与实际相联系，以保证学生毕业后就能顺利走上职业道路。您的孩子还可以选择在新西兰继续深造。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-7.png'%>" alt="a33-7">
                        <div class="hidden-ch">Your skills will be valued</div>
                        <div class="hidden-en">所学技能受用一生</div>
                    </div>
                    <div class="hidden-ch">Employers value New Zealand graduates’ ability to think independently, find solutions and solve problems. Many New Zealand employers are actively seeking skilled professionals, so you can find work here if you want to stay.</div>
                    <div class="hidden-en">招聘者看重新西兰毕业学子的独立思考、发现和解决问题的能力。许多新西兰当地招聘者都亲睐有技能的专业认识，如果您的孩子愿意生活在新西兰，还可在新西兰就业。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-8.png'%>" alt="a33-8">
                        <div class="hidden-ch">You’re Always Welcome Here</div>
                        <div class="hidden-en">温暖如归</div>
                        <div class="hidden-ch">Friendly locals</div>
                        <div class="hidden-en">友善的当地人</div>
                    </div>
                    <div class="hidden-ch">New Zealanders are known for welcoming people from other cultures and countries. With our safe and tolerant environment you’ll feel right at home here right away.</div>
                    <div class="hidden-en">新西兰因热情好客而闻名。在我们安全、包容的环境下，您的孩子将很快在这里找到家的感觉。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-9.png'%>" alt="a33-9">
                        <div class="hidden-ch">You’re welcome to stay</div>
                        <div class="hidden-en">欢迎留在新西兰</div>
                    </div>
                    <div class="hidden-ch">Many students choose to stay in New Zealand after their study; either to work, live, study further, or just enjoy the beautiful landscape and great lifestyle.</div>
                    <div class="hidden-en">许多留学生在毕业之后，选择留在新西兰。无论是留下来工作还是继续深造，还是单纯享受新西兰的美景和无与伦比的生活方式。</div>
                </div>
            </div>
        </div>

        <div class="flex-xs-12 flex-sm-6 flex-md-4">
            <div class="content-panel">
                <div>
                    <div class="h3 img-title">
                        <img src="<%= url + 'dist/src/demo1/src/a33-10.png'%>" alt="a33-10">
                        <div class="hidden-ch">International Connections</div>
                        <div class="hidden-en">国际链接</div>
                    </div>
                    <div>
                        <div class="hidden-ch">Over 20,000 international students choose New Zealand universities from some 160 countries. Join student networks and make international connections for life.</div>
                        <div class="hidden-en">来自160个国家的，超过2万的留学生选择来新西兰大学就读。欢迎加入我们国家化的大家庭！</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./views/footer') %>