<%- include('./views/header') %>
<div class="content-panel">
    <div class="h3">
        <div class="hidden-ch">Study Tour </div>
        <div class="hidden-en">游学新西兰</div>
        <div class="hidden-ch">The best experience in 100% pure New Zealand.</div>
        <div class="hidden-en">一次真正零距离的西方教育体验</div>
        <div class="hidden-en">一场受益终身的文化之旅</div>
        <div class="hidden-en">一个多姿多彩的纯净假期</div>
    </div>
</div>
<div class="gs-sin">
    <div class="row">
        <div class="col-xs-12">
            <div class="slicker" data-slicker data-responsive="false">
                <ul>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a2-4.jpg'%>" alt="a2-4"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a2-5.jpg'%>" alt="a2-5"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a2-6.jpg'%>" alt="a2-6"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">What is study tour?</span>
                <span class="hidden-en">什么是游学？</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a2-1.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Our study tour focus on help children aged between 8-15,to explore the western culture and education, by a 2-4 weeks study in a local school in NZ.</div>
                <div class="hidden-en">游学旨在帮助8-15岁的孩子通过在新西兰当地学校为期2-4周的“插班”学习生活，探索西方文化和教育体验。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Why to do study tour?</span>
                <span class="hidden-en">为什么选择游学？</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a2-2.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Study tour is not only an opportunity to strengthen child’s skills, from all aspects, but also could help them get prepared before going to study abroad.</div>
                <div class="hidden-en">游学不仅能锻炼孩子各方面的能力（英语能力、独立生活、沟通技能等），更能为将来孩子的留学生活奠定坚实的基础和准备。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Study Tour in 2018/2019 </span>
                <span class="hidden-en">2018/2019游学项目</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a2-3.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">.......</div>
                <div class="hidden-en">.......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>

</div>
<%- include('./views/footer') %>
