<%- include('./views/header') %>
<div class="content-panel">
    <div class="h3">
        <span class="hidden-ch">Study Aboard in NZ</span>
        <span class="hidden-en">留学新西兰</span>
        <span class="hidden-ch">New Zealand’s diverse education system gives your child a wide range of programs and institutions to choose from.</span>
        <span class="hidden-en">新西兰多样化的教育体系，让您的孩子的未来有更多的选择和可能性。</span>
    </div>
</div>
<div class="gs-sin">
    <div class="row">
        <div class="col-xs-12">
            <div class="slicker" data-slicker data-responsive="false">
                <ul>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a3-4.jpg'%>" alt="a3-4"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a3-5.jpg'%>" alt="a3-5"></li>
                    <li><img data-img="<%= url + 'dist/src/demo1/src/a3-6.jpg'%>" alt="a3-6"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="gs-fixed" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Schools</span>
                <span class="hidden-en">初高中</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a3-1.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Support students to gain the skills and qualification to help them succeed anywhere in the world.</div>
                <div class="hidden-en">新西兰的初高中的秉承的教育理念让孩子无论从学习成绩还是个人能力上，卓越出众，更是一把为您的孩子打开世界名校的钥匙。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Study Trusteeship</span>
                <span class="hidden-en">“逐梦者”留学托管</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a3-2.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">.......</div>
                <div class="hidden-en">.......</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
        <div class="col-xs-12 col-sm-4 info-card">
            <div class="h4">
                <span class="hidden-ch">Universities</span>
                <span class="hidden-en">大学</span>
            </div>
            <img src="<%=url+'dist/src/demo1/src/a3-3.jpg'%>" alt="">
            <div>
                <div class="hidden-ch">Rank in the top 3% in the world in the QS World University Rankings.</div>
                <div class="hidden-en">新西兰的八所大学排名均在世界前3%。</div>
            </div>
            <a href="javascript:;" class="link"><span class="hidden-ch">More</span> <span class="hidden-en">更多</span></a>
        </div>
    </div>
</div>

</div>
<%- include('./views/footer') %>
